.sidebar {
  width: 800px;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 30% 30% 0;

}

.logo-image, .student-image{
  display: flex;
  width: 100%;
}

.logo-image{
  height: 20%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5rem;
}

.logo-image img{
  height: 90%;
  cursor: pointer;
}


.student-image{
  justify-content: center;
  align-items: center;
  height: 80%;
}

.student-image img{
  height: 90%;
}