.studentInfo-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.studentInfo-inputs-container{
    width: 100%;
    grid-gap: 0 62px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 22px;
}

.next-btn{
    margin-top: 70px !important;
}
