.input-field{
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}


.input-field label {
  display: block;
  margin-bottom: 0.5rem;
  color: #656A51;
}

.input-field input[type="text"],
.input-field input[type="password"] {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #090000;
  outline: none;
}