.input-field{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.input-field label {
  display: block;
  margin-top: 2rem;
  color: #656A51;
}

.input-field input[type="text"],
.input-field input[type="password"] {
  display: block;
  width: 100%;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #090000;
  outline: none;
}
.input-field input[type="text"]{
  padding: 10px 0px 5px 25px;
}
.input-field input[type="password"]{
  padding: 10px 35px 5px 25px;

}

.input-field .i1{
  position: absolute;
  margin-top: 70px;
  color: #848874;
}
.input-field .i2{
  position: absolute;
  margin-top: 70px;
  right: 10px;
  cursor: pointer;
  color: #848874;
}