.not-found-page {
    background-color: #a0b355;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }

  .not-found-page img{
    width:130px;
    height: 150px;
    filter: grayscale(100%);
  } 
  
  .not-found-page h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: rgb(255, 112, 29);
    font-family: cursive;                                
  }
  
  .not-found-page p {
    font-size: 24px;
    color: #fff;
  }